@model FinalDraft.Model.Main

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Main</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Describe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Describe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryPhoneIs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryPhoneIs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.States)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.States)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrctAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrctAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrsExplaination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrsExplaination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeoCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeoCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mapcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mapcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
